
body{
	background-image: url("../general/img/fond.jpg");
	background-size:cover;
	
	
}

#contenu_index {
    position: relative;
    margin-top: 5%;
    
}

.element_1texte{

    color: #cc3636;
    font-size: 25px;
    text-shadow: 0 0 3px #ffffff;
    text-align: left;
    background-color: #ffffff;
    opacity: 0.90;
    border-radius: 15px;
    min-height: 100%;
    width: 30%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;

}

.element_video {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#flexbox_1 {
    display: flex;
    align-items: center;
    width: 100%
}


#presentation_equipage{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;
    width: 100%;

}


 img{
    border-radius: 15px;
    width:100%;
}

#video{
    width:100%;
    height: 600px;
}

.element_1{

    color: #cc3636;
    font-size: 25px;
    text-shadow: 0 0 3px #ffffff;
    text-align: left;
    background-color: #ffffff;
    opacity: 0.90;
    border-radius: 15px;
    min-height: 100%;
    width: 40%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;

}

.element_2{     
    margin-left: auto;
    margin-right: auto;
    width: 45%;

}


#presentation_voiture{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;

}
#presentation_voiture img{
    border-radius: 15px;
    
}


#presentation_participation{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;

}
#presentation_participation img{
    border-radius: 15px;
    
}


#presentation_4Ltrophy{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;

}
#presentation_4Ltrophy img{
    border-radius: 15px;

}


#presentation_enfants-desert{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;

}
#presentation_enfants-desert img{
    border-radius: 15px;
    
}

.ligne{
    border-color: #FFFFFF;
    border-style: dashed; 
    height: 500px;
    border-right: hidden;
border-top: hidden;
border-bottom: hidden;

}


